@charset "UTF-8";
/* CSS Document */

/* Body */
body {
	background-image: url(marble.jpg);
}

/* Calculator Box */
.box {
	background-color: #0EFFE6;
	height: 300px;
	width: 250px;
	border-radius: 10px;
	position: relative;
	top: 80px;
	left: 40%;
    box-shadow: #9B9B9B 50px 10px 100px rgba(250, 250, 250, .7);;
	border: 2px solid #333333;
	border-color: #BFBFBF;
}

/* Display */
.display {
	background-color: #0FCE72;
	width: 220px;
	position: relative;
	left: 15px;
	top: 20px;
	height: 40px;
}
.display input {
	position: relative;
	left: 2px;
	top: 2px;
	height: 30px;
	width: 210px;
	color: black;
	background-color: #FFA94D;
	font-size: 21px;
	text-align: right;
}

/* Calculator Buttons */
.keys {
	position: relative;
	top: 15px;
}
.button {
	width: 40px;
	height: 30px;
	border: dotted;
	border-color: green;
	border-style: groove;
	border-radius: 8px;
	margin-left: 17px;
	cursor: pointer;
	border-top: 2px solid transparent;
}
.button.function {
	color: white;
	background-color: #10BE07;
	border-bottom: black 2px dotted;
	border-top: 2px #6f6f6f thick;
}
.button.operator {
	color: white;
	background-color: #D91DE8;
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
    box-shadow: inset 1px 1px 2px;
}
.button.number {
	color: white;
	background-color:#000BFF;
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
}

/* Simulate Button Press */
.function:active {
	border-top: black 2px solid;
	border-bottom: 2px #6f6f6f solid;
}
.operator:active {
	border-top: black 2px solid;
	border-bottom: 2px #303030 solid;
}
.number:active {
	border-top: black 2px solid;
	border-bottom: 2px #6f6f6f solid;
}
